<div class="h-100">
  <app-details></app-details>
</div>


<div class="container h-90" id="Projects">
  <div class="row justify-content-center align-items-center">
    <div class="display-4" id="ProjectTitle">Projects</div>
  </div>
  <div class="row">
    <bSwitch class="px-3" switch-size="small" switch-on-color="success" switch-off-color="default" (changeState)="switchFilter($event)"></bSwitch>
    <div class="my-auto">Only Finished</div>
  </div>
  <div class="row">

    <app-project-preview *ngFor="let project of projects" [project]="project"
                         class="col-12 col-md-6 col-lg-6 col-xl-4 my-3"></app-project-preview>
  </div>
</div>

<div class="container h-10">
  <div class="row h-100 justify-content-center align-items-center">
    <div class="Foot">
      <div class="p-3"><a href="https://bitbucket.org/harrison_barker/harrisonbarker/src/master/"> (¯`·._.··¸.-~*´¨¯¨`*·~-.,-(_Website
        Source_)-,.-~*´¨¯¨`*·~-.¸··._.·´¯)</a></div>
    </div>
  </div>
</div>
